.scroll-container-slider {
    display: flex;
    align-items: center;
    /* position: relative; */
}

.container-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px;
    /* border-radius: 10px; */
    width: 100%; /* Ensures container uses the full width of the parent */
    max-width: 1200px; /* Adjust the maximum width to hold more cards */
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.container-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    flex: 0 0 auto;
    width: 180px;
    height: 90px;
    margin-right: 20px;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
    margin: 0;
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.card:hover {
    transform: scale(1.05);
}

.scroll-btn {
    /* Hide the buttons initially */
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}
